
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    overflow: hidden;
}

#main {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tab-content {
    flex: 1;
}

.tab-pane.active.show {
    height: 100%;
    display: flex;
    position: relative;
}

#webgl1 {
    flex: 1;
}

#rete {
    flex: 1;
    display: block;
}
