
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~vue-select/dist/vue-select.css';

body {
    overflow: hidden;
}

#main {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tab-content {
    flex: 1;
}

.tab-pane.active.show {
    height: 100%;
    display: flex;
    position: relative;
}

#webgl1 {
    flex: 1;
}

#rete {
    flex: 1;
    display: block;
}

/* Node */
/* Yellow style overridden here in plain css */
.node {
    font-family: 'Consolas', monospace !important;
    background-color: transparent !important;
    border-radius: 3px 3px 0 0 !important;
    border: 1px solid transparent !important;
    cursor: pointer;
    min-width: 180px;
    height: auto;
    padding-bottom: 0 !important;
    box-sizing: content-box;
    position: relative;
    user-select: none;
}

.node:hover {
    border-color: grey !important;
}

input.vs__search {
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
}

.vs__selected {
    color: #acadae;
    margin-right: 0;
    margin-left: 0;
}

.vs__open-indicator>path {
    fill: #acadae;
}

.vs__dropdown-toggle {
    border: 1px solid #5b5d60;
}

.vs__dropdown-menu {
    background-color: #4c4e51;
    padding-bottom: 2px;
    padding-top: 2px;
}

.vs__dropdown-option {
    color: #acadae;
}

.vs__dropdown-option:hover,.vs__dropdown-option--highlight {
    background-color: #5a6e85;
}

.node .title {
    color: #acadae !important;
    background-color: rgba(91, 93, 96, 0.8) !important;
    border-radius: 2px 2px 0 0;
    font-family: 'Consolas', monospace !important;
    font-size: 18px;
    padding: 4px 8px !important;
    border-bottom: 1px solid #5b5d60 !important;
}

.node > .control, .node > .input, .node > .output {
    background-color: #4c4e51 !important;
}

.node .output {
    text-align: right;
}

.node .input {
    text-align: left;
}

.node .input-title, .node .output-title {
    color: #acadae !important;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Consolas', monospace !important;
    font-size: 14px;
    margin: 6px;
    line-height: 24px;
}

.node .input-control {
    z-index: 1;
    width: calc(100% - 36px);
    vertical-align: middle;
    display: inline-block;
}

.node .control {
    padding: 6px 18px;
}

/* Socket customization */

.socket {
    display: inline-block;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px !important;
    width: 20px !important;
    height: 20px !important;
    margin: 6px;
    vertical-align: middle;
    background: #96b38a;
    z-index: 2;
    box-sizing: border-box;
}

.socket:hover {
    border-width: 4px;
}

.socket.multiple {
    border-color: yellow;
}

.socket.output {
    margin-right: -10px !important;
}

.socket.input {
    margin-left: -10px !important;
}

/* Context menu */

.search {
    color: #acadae !important;
    background-color: rgba(91, 93, 96, 0.8) !important;
    border-radius: 3px 3px 0 0 !important;
    border: 1px solid transparent !important;
}

.context-menu {
    font-family: 'Consolas', monospace !important;
    background-color: transparent !important;
    border-radius: 3px 3px 0 0 !important;
    border: 1px solid transparent !important;
    left: 0;
    top: 0;
    position: fixed;
    padding: 10px;
    width: 200px !important;
}

.context-menu .item, .context-menu .subitem {
    border-radius: 0 !important;
    color: #000 !important;
    padding: 4px;
    border-bottom: 1px solid grey !important;
    background-color: rgba(128, 128, 128, 0.9) !important;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.context-menu .item:hover, .context-menu .subitem:hover {
    background-color: rgba(156, 156, 156, 0.9) !important;
}

.context-menu .search {
    background-color: rgba(91, 93, 96, 0.8) !important;
}

.context-menu .item.hasSubitems:after {
    content: '►' !important;
    position: absolute;
    opacity: 0.6;
    right: 5px;
    top: 5px;
}

.context-menu .item .subitems {
    position: absolute;
    top: 0;
    left: 100%;
    width: 120px;
}

/* Input */

.number-input {
    border-radius: 4px !important;
    background-color: transparent !important;
    border-color: #626262 !important;
    color: #acadae !important;
}
